

.mobile_menu_icon{
    background-color: transparent;
    border: none; 
    outline: none; 
    position: fixed;
    top: 20px;
    right: 15px;


    & > span{
        background-color: black;
        display: block;
        width: 30px;
        height: 2px;
        margin: 5px;
        transition: transform ease 1s;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &.open{

        & > span {
            &:nth-child(1){
                transform:translateY(7px) rotate(135deg);
            }
            &:nth-child(2){
                transform:translateX(-18px) scale(0);
            }
            &:nth-child(3){
                transform:translateY(-7px) rotate(-135deg);
            }
        }
    }

}


nav{
    display: none;
    position: fixed;
    top: 20px;
}

  nav.close{
    display: block;

    animation: menuCloseAnime ease 1s forwards ;
  }
  @keyframes menuCloseAnime {
    0%{
        opacity: 0.7;
       transform: translateX(0px) translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-10px) translateY(-3px);
    }
  }

  nav.open{ 
    display: block;
    animation: menuOpenAnime ease 1s ;
  }

  @keyframes menuOpenAnime {
    0%{
        opacity: 0.2;
       transform: translateX(-10px)  translateY(-3px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
  }