.profile__container {
    width: 100%;
    height: auto;
    z-index: 1000;
    box-sizing: border-box;
    padding: 10px;
}

.profile__inner {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;




    &_group{
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: auto ;
        margin: 0 auto;
    }

    &_image {
        width: 120px;
        height: 120px;
        margin: 10px;
        border-radius: 50%;
        background-color: gray;
    }

    &_name {
        display: flex;
        align-items: center;
        margin:0 auto;
        
        & p {
            font-size: 16px;
            margin: 0;

        }
    }
    
    &_hobby {
        width: 100%;
        height: auto ;
        
        & h3{
            text-align: center;
            font-size: 16px;
        }
        
        & ul li{
            font-size: 15px;
            list-style-type: none;
            text-align: left;
        }
            

    }
}
