@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Noto+Sans+JP:wght@500&display=swap');
body {
  font-family: 'IM Fell English','Noto Sans JP', sans-serif, serif;
  --red: #ff0055;
  background-color: rgb(152, 152, 152);
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;

 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
