body {
  --red: #ff0055;
  background-color: rgb(152, 152, 152);
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;

 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
