
/* モバイルサイズ（最大幅 767px）*/
@media (max-width: 767px) {
  /* TODO title-containerとimg-containerを絶対位置に変更　センターに重ねて表示する */

  .maintitle {
    /* opacity: 0.7; */
    max-width: max-content;
    font-size: 18vw;
  }
  .subtitle {
    text-shadow: none;
    font-size: 5vw;
    line-height: -3.2;
  }
}