.maintitle-conatiner {
  color: #14685a;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #c9594a;
  /* margin-left: 20px; */
}

.maintitle {
  position: relative;
  font-family: "Teko";
  margin: auto 0;
  max-width: max-content;
  font-size: 15vw;
}
.maintitle:before {
  position: absolute;
  content: "toyama hideki";
  min-width: max-content;
  color: white;
  z-index: -1;
  top: 2px;
  left: 2px;
}

.subtitle {
  position: relative;
  display: inline;
  font-size: 3vw;
  font-weight: 500;
}

.img-container {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: -100;
  max-width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  animation: anim 10s ease-in-out infinite alternate;
}
@keyframes anim {
  0% {
    border-radius: 33% 52% 19% 71% / 31% 30% 51% 41%;
  }
  30% {
    border-radius: 40% 62% 29% 81% / 41% 40% 61% 51%;
  }
  60% {
    border-radius: 60% 21% 43% 87% / 56% 32% 47% 31%;
  }
  100% {
    border-radius: 40% 41% 63% 87% / 76% 52% 27% 31%;
  }
}

.mainImg {
  object-fit: cover;
  animation: anim 10s ease-in-out infinite alternate;
}

/* モバイルサイズ（最大幅 767px）*/
@media (max-width: 767px) {
  /* TODO title-containerとimg-containerを絶対位置に変更　センターに重ねて表示する */

  .maintitle {
    opacity: 0.7;
    max-width: max-content;
    font-size: 18vw;
  }
  .subtitle {
    text-shadow: none;
    font-size: 5vw;
    line-height: -3.2;
  }

  /* .subtitle:before {
    position: absolute;
    content: "portfolio";
    width: max-content;
    color: white;
    z-index: -1;
    top: 1px;
    left: 1px;
  } */

  .img-container {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    animation: anim 10s ease-in-out infinite alternate;
  }
}

/* タブレットサイズ（最小幅 768px 〜 最大幅 991px）*/
@media (min-width: 768px) and (max-width: 991px) {
  /* ここにCSSを記述 */
}

/* ノートパソコン/デスクトップサイズ（最小幅 992px 〜 最大幅 1199px）*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* ここにCSSを記述 */
}

/* 大型デスクトップサイズ（最小幅 1200px）*/
@media (min-width: 1200px) {
  /* ここにCSSを記述 */
}
