
/* 無印の設定 */
html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    Meiryo, sans-serif;
  font-size: 62.5%;
  line-height: 1.8;
  min-height:100vh;
  word-break: break-word;
  color: #333;
  overflow: hidden;
}
body {
  width: 100vw;
  background-color: #e7e4df;
  font-size: 3rem;
  margin: 0;

  display: grid;
  grid:
    "header" 70px
    "main" 1fr
    "footer" auto
    / 1fr;
}




/* セクションごとの設定記述していく */
.header {
  grid-area: header;
  min-width: 100vw;
  user-select: none;
  background-color: #14685a;
  box-shadow: 0px 3px 0 0 #e1c75b;
}
.main {
  max-width: 100vw;
  grid-area: main;
}
.footer {
  grid-area: footer;
  display: flex;
  /* 共通設定 */
  /*＝＝ 背景関連 ＝＝*/
  background-color: #14685a;
  box-shadow: 0px -2px 0 0 #e1c75b;
  /*＝＝ フォント関連 ＝＝*/
  font-family: "Corben", cursive;
  color: #e1c75b;
  text-shadow: 1px 1px 0px #c9594a;
  gap: 2rem;
  
  .footer_menu-container,.footer_sns-container{
    margin: 1rem;
  }

  /* フッターメニュー側 */
  .footer_menu-container {
    .footer_menu-list {
      display: flex;
      flex-direction: row;

      .footer_menu-listitem {
        width: max-content;
        font-size: 1.5rem;
        margin-left: 1rem;
        gap: 5px;
      }
    }
  }
  /* フッターSNS側 */
  .footer_sns-container {
    /* margin-left: auto; */

    .footer_sns-icon-list {
      display: flex;
      gap: 10px;

      .icon {
        display: block;
        color: #e1c75b;
        font-size: 2rem;
      }
    }
  }
}

/* モバイルサイズ（最大幅 767px）*/
@media (max-width: 767px) {
  .footer{
    gap: 0;
    flex-direction: column;
  }
}

/* タブレットサイズ（最小幅 768px 〜 最大幅 991px）*/
@media (min-width: 768px) and (max-width: 991px) {
  /* ここにCSSを記述 */
}

/* ノートパソコン/デスクトップサイズ（最小幅 992px 〜 最大幅 1199px）*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* ここにCSSを記述 */
}

/* 大型デスクトップサイズ（最小幅 1200px）*/
@media (min-width: 1200px) {
  /* ここにCSSを記述 */
}