/* 共通要素を定義していくファイル */

/* 無印の設定 */
html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-size: 62.5%;
  line-height: 1.8;
  min-height: 100vh;
  word-break: break-word;
  color: #333;
  cursor: none;
}
body {
  width: 100vw;
  background-color: #e7e4df;
  font-size: 3rem;

  display: grid;
  grid:
    "header" 70px
    "main" 1fr
    "footer" auto
    / 1fr;
}

a{
  cursor: none;
}

/* セクションごとの設定記述していく */

/* ヘッダー関連 */
.header {
  grid-area: header;
  min-width: 100vw;
  user-select: none;
  background-color: #14685a;
  box-shadow: 0px 3px 0 0 #e1c75b;
}

/* メイン要素、メイン配下 */
.main {
  grid-area: main;
  max-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgb(0, 0, 0)0;
  background-color: rgba(226, 203, 28, 0.638);
  transform: translate(-10px, -10px);
  z-index: 9999;
  pointer-events: none;
}

.main_masklayer {
  position: absolute;
  min-width: 100vw;
  min-height: 100%;
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: linear-gradient(135deg, #000000 25%, transparent 25%),
    linear-gradient(225deg, #000000 25%, transparent 25%),
    linear-gradient(45deg, #000000 25%, transparent 25%),
    linear-gradient(315deg, #000000 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
  z-index: -1000;
}

.footer {
  grid-area: footer;
  display: flex;
  /* 共通設定 */
  /*＝＝ 背景関連 ＝＝*/
  background-color: #14685a;
  box-shadow: 0px -2px 0 0 #e1c75b;
  /*＝＝ フォント関連 ＝＝*/
  font-family: "Corben", cursive;
  color: #e1c75b;
  text-shadow: 1px 1px 0px #c9594a;
  gap: 2rem;
}

.footer_menu-container,
.footer_sns-container {
  margin: 1rem;
}
.footer_title,
.footer_title {
  font-size: 2rem;
  display: block;
  align-items: center;
  justify-content: center;
}

/* フッターメニュー側 */
.footer_menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer_menu-list .footer_menu-listitem {
  width: max-content;
  font-size: 1.5rem;
  margin-left: 1rem;
  gap: 5px;
}

/* フッターSNS側 */
.footer_sns-icon-list {
  display: flex;
  gap: 10px;
}
.icon {
  display: block;
  color: #e1c75b;
  font-size: 2rem;
}

/* モバイルサイズ（最大幅 767px）*/
@media (max-width: 767px) {
  /* TODO title-containerとimg-containerを絶対位置に変更　センターに重ねて表示する */
  .footer {
    gap: 0;
    flex-direction: column;
  }
  .footer_menu-container,
  .footer_sns-container {
    margin-top: 0;
  }
}

/* タブレットサイズ（最小幅 768px 〜 最大幅 991px）*/
@media (min-width: 768px) and (max-width: 991px) {
  /* ここにCSSを記述 */
}

/* ノートパソコン/デスクトップサイズ（最小幅 992px 〜 最大幅 1199px）*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* ここにCSSを記述 */
}

/* 大型デスクトップサイズ（最小幅 1200px）*/
@media (min-width: 1200px) {
  /* ここにCSSを記述 */
}
