/* 重複する値を変数に置き換え */
:root {
  /* 配色 */
  --primary-color: #e1c75b;
  --secondary-color: #6c757d;
  --bgcolor: #14685a;
  --text-shadow-color: "#c9594a";
  /* フォントサイズ */

  /* 余白 */
  --rem05:.5rem;
  --rem15:1.5rem;
  --rem5:5rem;

  --detail-font-size: 1.5rem;
  /* デザイン */
  --border-radius: 5px;
  --box-shadow: 8px 10px 8px 0px #919090;
}

/*=================== TAGS DESIGN ==================== */
html {
  font-size: 62.5%;
  line-height: 1.8;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  word-break: break-word;
  color: #333;
  /* 後で復活させる */
  /* cursor: none; */
  scroll-behavior: smooth;
}
body {
  
  background-color: #e7e4df;
  font-size: 3rem;
  display: grid;
  grid:
    "header" 70px
    "main" 1fr
    "footer" auto
    / 1fr;
}
main {
  font-family: "M PLUS 1p";
  grid-area: main;
  width: 100vw;
  position: relative;
  align-items: center;
}
a{
  font-size: var(--rem05);
}
a.link{
  text-decoration: underline;
  color: #4a8206;
}
.header {
  grid-area: header;
  min-width: 100vw;
  user-select: none;
  background-color: var(--bgcolor);
  box-shadow: 0px 3px 0 0 var(--primary-color);
}

a:hover{
  cursor: pointer;
}

/* =================== REUSED TOKEN =================== */
.section__component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section__title {
  display: block;
  margin: 0 auto 5rem;
  font-family: "Corben", cursive;
  font-size: 5vw;
  min-width: max-content;
  padding: 0;
  color: #e1c75b;
  text-shadow: 1px 1px 0px #c9594a;
}



/* =================== ITEM DEESIGN =================== */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgb(0, 0, 0) 0;
  background-color: rgba(226, 203, 28, 0.638);
  transform: translate(-10px, -10px);
  z-index: 9999;
  pointer-events: none;
}
.main_masklayer {
  position: absolute;
  min-width: 100vw;
  min-height: 100%;
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: linear-gradient(135deg, #000000 25%, transparent 25%),
    linear-gradient(225deg, #000000 25%, transparent 25%),
    linear-gradient(45deg, #000000 25%, transparent 25%),
    linear-gradient(315deg, #000000 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
  z-index: -1000;
}
/*================== MAIN DESIGN ==================*/
.main-wrapper {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*================== MAIN TITLE CONTAINER ==================*/
.maintitle__conatiner {
  min-height: 100vh;
  min-width: 100vw;
  color: #14685a;
  text-transform: uppercase;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.maintitle {
  position: relative;
  font-family: "Teko";
  /* max-width: max-content; */
  font-size: 15vw;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}

.title-shadow,
.title-deep-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}
.title-shadow {
  color: rgba(2, 2, 2, 0.43);
  text-shadow: 0 0 10px #bbbbbb;
}
.title-deep-shadow {
  color: rgba(26, 46, 37, 0.45);
  text-shadow: 0 0 20px #bbbbbb;
}
.subtitle {
  position: relative;
  display: block;
  font-size: 3vw;
  font-weight: 500;
  margin-left: 30px;
  opacity: 0;
}
/*================== PROFILE CONTAINER ==================*/

/* 謎のクラス　少し残しておく */
/* .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem auto;
} */

.profile__imageContainer {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);

}

.profile__img {
  width: 100%;
  height:100%;
  overflow: hidden;
  object-fit: cover;
}

.profile__textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}

.profile-name {
  display: inline-block;
  font-size: 3rem;
  margin: 0 auto;
  /* margin-bottom: 1rem; */
}

.profile__description {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: block;
  margin: 0 auto;
}

.initiative {
  width: 80%;
  display: block;
}

.profile__list li {
  font-size: var(--detail-font-size);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__list li:last-child {
  margin-bottom: var(--rem15);
}

.profile__list .genru {
  margin-bottom: 0.5rem;
}

.profile-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.profile-links li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

/*================== CAREER CONTAINER ==================*/

.timeline {
  width: 100%;
  margin: 50px auto;
}

.timeline li {
  /*線の起点とするためrelativeを設定*/
  position: relative;
  list-style: none;
  padding: 0 0 20px 0;
}

.timeline dl {
  margin: 0 0 20px 1em;
}
.timeline dt {
  font-size: 2rem;
}

.timeline dd strong {
  display: block;
  padding: 10px 0;
}
.timeline dd {
  font-size: var(--detail-font-size);
}
.timeline strong {
  font-size: 2rem;
}

/*絶対配置で線を設定*/
.border-line {
  /*線の位置*/
  position: absolute;
  left: 0.3em;
  top: 0;
  width: 2px; /*線の太さ*/
  height: 0; /*はじめは高さを0に*/
  background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #666;
  border-radius: 50%;
}

/*================== SKILL CONTAINER ==================*/
/* .skill {
  margin-bottom: 20px;
}
.row-design{
  display: flex;
  flex-direction: row;
  
}
.skill__wrap {

  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-bottom: 20px;
} */
#skill__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill__wrap {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c56b;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.skill_name {
  margin-top:1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_text {
  padding: 2rem;
  font-size: var(--detail-font-size);
}

/*================== WORKS CONTAINER ==================*/
.works__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.works__component {
  margin-bottom: 3rem;
}
.works__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.works__title span {
  font-size: 1.5rem;
}
.works__imgContainer {
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  box-shadow: 8px 10px 8px 0px #919090;
}
.works__imgContainer:hover {
  position: relative;
  transition: all 0.3s;
  transform: translate(0px, 5px);
  box-shadow: 0 0 0 0;
  opacity: 0.5;
}
.works__imgContainer:not(:hover) {
  transition: all 0.3s;
  transform: translate(0px, 0px);
  box-shadow: var(--box-shadow);
  opacity: 1;
}

.works__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.works__link:hover {
  opacity: 1;
}

.works__textContainer a {
  font-size: 1.5rem;
}

/*================== FOOTER CONTAINER ==================*/
.footer {
  grid-area: footer;
  display: flex;
  background-color: #14685a;
  box-shadow: 0px -2px 0 0 #e1c75b;
  font-family: "Corben", cursive;
  color: #e1c75b;
  text-shadow: 1px 1px 0px #c9594a;
  gap: 2rem;
}

.footer_menu-container,
.footer_sns-container {
  margin: 1rem;
}
.footer_title,
.footer_title {
  font-size: 2rem;
  display: block;
  align-items: center;
  justify-content: center;
}

/* フッターメニュー側 */
.footer_menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer_menu-list .footer_menu-listitem {
  width: max-content;
  font-size: 1.5rem;
  margin-left: 1rem;
  gap: 5px;
}

/* フッターSNS側 */
.footer_sns-icon-list {
  display: flex;
  gap: 10px;
}
.icon {
  display: block;
  color: #e1c75b;
  font-size: 2rem;
}

/* モバイルサイズ（最大幅 767px）*/
@media (max-width: 767px) {
  /* TODO title-containerとimg-containerを絶対位置に変更　センターに重ねて表示する */
  .footer {
    gap: 0;
    flex-direction: column;
  }
  .footer_menu-container,
  .footer_sns-container {
    margin-top: 0;
  }
  .pc-only {
    display: none;
  }
}

/* タブレットサイズ（最小幅 768px 〜 最大幅 991px）*/
@media screen and (max-width: 991px) {
  .profile__imageContainer {
    width: 350px;
    height: 350px;
    margin-bottom: 50px;
  }

  .main-wrapper {
    max-width: 80vw;
  }

}

@media screen and (max-width: 960px) {
  .profile__imageContainer {
    width: 300px;
    height: 300px;
  }
  .skill__wrap {
    flex-wrap: wrap;
    max-width: 80vw;
  }
  .skill_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .skill__img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 520px) {
  html {
    min-height: 90vh;
  }

  .section__title{
    font-size: 4rem;
  }

  .profile__imageContainer {
    width: 250px;
    height: 250px;
  }
  .profile__imageContainer img{
    width: 100%;
    height:100%;
  }



  /*Skill Component*/
  .skill_text_area .skill_name {
    font-size: 2.5rem;
    margin: 1.5rem 0;
  }
  .skill_text_area .skill_text {
    font-size: 1.5rem;
  }
  .skill_text_area .skill_text a {
    font-size: 1rem;
    text-decoration: underline;
  }

  /*WORKS Component*/
  .works__imgContainer {
    max-width: 80vw;
    object-fit: contain;
    }
}
