.card05 {
  height: 100px;
}

.l-inner {
  height: 100%;
}

.slide-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 最重要要素：スムーズな動きを制御している */
.card05 .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
/* 最重要要素：幅いっぱいに要素を表示する */
.card05 .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* 要素が消える */
.card05 .slide {
  width: 6vw;
  margin: 0 10vw; /*ある程度余白を設けないと無限ループが作れない*/
}

.card05 .slide-media {
  height: calc(100% + 16px);
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
}

/* ホバーしていない要素を半透明にする */
.card05 .swiper:hover .slide:not(:hover) {
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.swiper {
  height: 100%;
}

.menu-list {
  font-family: "Corben", cursive;
  font-size: 2.2vw;
  min-width: max-content;
  margin: 0;
  padding: 0;
  color: #e1c75b;
  text-shadow: 1px 1px 0px #c9594a;
}

@media (max-width: 1024px) {
  .menu-list {
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  .menu-list {
    font-size: 4vw;
  }
}
@media (max-width: 425px) {
  .menu-list {
    font-size: 5.5vw;
  }
}
